#container
{
 border:solid 1px black;
 width:526px;
 overflow: hidden;
}
.grid1 {
	width:160px;
	height:60px;
	border:solid 1px black;
	margin: 0px 20px 20px 0px;
	float:left;
}

.grid3 {
	width:160px;
	height:60px;
	border:solid 1px black;
	margin: 0px 0px 0px 0px;
	float:right;
}
